/* Style: Verde */

body { background: #eaf0e5; }

#top { background-color: #122124; }

a:link, a:visited, .archive_header, .post p.tags a:hover, #tabs ul.wooTabs li a, .entry h3, h3.single, .tag_cloud a:hover, .nav-entries a:hover, .widget h3, .widget_woo_twitter .link-ancillary a, .recentblogposts-widget ul.pagination .entry a , .recentblogposts-widget ul.pagination-bottom a, h3.toggle, .social h3, #comments h3, #respond h3, h3.pagecom, h3.archive_year { color: #122124; }

.button:hover, .reply a:hover { color: #122124 !important; }

.nav a { color: #fff; }
.nav a:hover, .nav li.current_page_item a, .nav li.current_page_parent a { color: #222 !important; }
.nav li ul li a  { color:#555 !important; }

.nav li.current_page_item, .nav li.current_page_parent, .nav a:hover, .nav li ul, .nav li.current_page_item a:hover, .nav li.current_page_parent a:hover { background: #eaf0e5; }

.nav li ul li.current_page_item, .nav li ul li.current_page_item a:hover, .nav li ul li a:hover { background: #d6dfcf !important; }

#tabs ul.wooTabs li a { border-left: 1px dotted #eaf0e5; border-right: 1px dotted #eaf0e5; border-top: 1px dotted #eaf0e5; }
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover { border-bottom: 1px dotted #eaf0e5; }

#commentform textarea, #contact-page ol.forms input.txt, #contact-page ol.forms textarea, .gform_wrapper input, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea { background: #d6dfcf; border-color: #d6dfcf; }

#commentform textarea:focus, #contact-page ol.forms input.txt:focus, #contact-page ol.forms textarea:focus, .gform_wrapper input:focus, .gform_wrapper .top_label input.large:focus, .gform_wrapper .top_label select.large:focus, .gform_wrapper .top_label textarea.textarea:focus { border-color: #fff; }